services:

  proxy:
    build: ./proxy
    ports:
      - "5557:5557"
      - "5558:5558"

  server:
    build: ./server
    volumes:
      - ./server/data:/app/data
    ports:
      - "5555:5555"
      - "8090:8080"
    depends_on:
      - proxy

  bot:
    build: ./bot
    depends_on:
      - server
      - proxy
    environment:
      - PROXY_HOST=proxy
      - SERVER_HOST=server
    # scale when running: docker compose up --build --scale bot=20
    restart: unless-stopped

  client:
    build: ./client
    depends_on:
      - server
    environment:
      - SERVER_HOST=server
    restart: unless-stopped
